.nav-bar {
  align-items: center;
  background-color: #474B58;
  width: 95%;
  height: 3rem;
  display: flex;
  color: white;
  border-radius: 15px;
  justify-content: space-between;
  padding: 1rem ;
  position: relative;
}

.nav-bar-left-items {
  display: flex;
  gap: 1rem;

}