.container {
  background-color: rgb(48, 47, 47);
  border-radius: 10px;
  display: flex;
  bottom: 0;
  flex-direction: column;
  gap: 1rem;
  justify-content: start;
  align-items: center;
  overflow: hidden;
  margin-top: 1rem;
}
.search_and_list {
  position: fixed;
  width: 30%;
  height: 83vh;
  max-width: 20rem;
}
.Chat {
  display: flex;
  color: white;
  margin: 1rem;
  justify-content: center;
  align-items: center;
  background-image: url();
}
