.container {
  width: 68%;
  height: 100vh;
  position: fixed;
  background-color: rgb(78, 78, 78);
  display: flex;
  color: white;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  margin-left: 21rem;
  margin-top: 1rem;
}
